body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(1,22,155);
  background: linear-gradient(180deg, rgba(1,22,155,1) 0%, rgba(148,223,233,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body  {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.4vw;

  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 208, 208);
}
*{
  user-select: none;
}
.container {
 padding: 2vw;
 box-sizing: border-box;
 width: inherit;
 height: inherit;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_section {
  width: 60%;
  height: 60%;
  border-radius: 0.5em;
  box-shadow:  0 0 2vw 5px rgba(0, 0 , 0, 0.2);
}

.game{
  padding: 3vw 10vw;
}
.game .question_word {
  text-align: center;
  line-height: 1.5;
}
.game_info{
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  margin: 1vw 0;
}
.box_style {
  border-radius: 0.5em;
  box-shadow:  0 0 1vw  rgba(0, 0 , 0, 0.2);
  background-color: #000942;
  color: #fff;
  letter-spacing: 3px;
  padding: 1vw;
}
.answers ul{
  list-style-type: none;
  /* line-height: 2; */
}
.answer {
  font-size: 1.6vw;
  padding: 1.2%;
  transition: ease-in-out all 0.2s;
  cursor: pointer;
  margin: 1vw 0;
  max-width: 80%;
}
.answer:hover {
  border-radius: 0.5em;
  box-shadow:  0 0 1vw  rgba(0, 0 , 0, 0.2);
  background-color: rgb(211, 208, 208);
  color: #000942;
  padding: 1vw; 
}
.answer span{
  padding: 0 1vw;
  font-size: 1.4vw;
  
}
.answer.wrong {
  border-radius: 0.5em;
  box-shadow:  0 0 1vw 0 rgb(192, 5, 5);
  background-color: rgb(177, 11, 11);
  color: #fff;
  padding: 1vw;
}
.answer.right {
  border-radius: 0.5em;
  box-shadow:  0 0 1vw 0 rgb(54, 221, 32);
  background-color: rgb(54, 221, 32);
  color: #fff;
  padding: 1vw;
}


.question_font {
  text-transform: uppercase;
  font-weight: bold;
}
.question_word span {
  font-style: italic;
}
.next {
  float: right;
  padding: 2vw;
}
.next button {
  outline: none;
  border: none;
  border-radius: 0.5em; 
  padding: 1vw; 
  color: #fff;
  background-color: #000942;
  box-shadow:  0 0 1vw  rgba(0, 0 , 0, 0.2);
  font-size: 1.5vw;
}
.next button:hover {
  cursor: pointer;
}
hr {
  outline: none;
  background-color: #000942;
  border: none;
  height: 2px;
  border-radius: 5px;
  width:  95%;
}

@media screen and (max-width: 400px) {
  .game{
    padding: 0;
    font-size: 4vw;
  }
  .game .question_word {
    border-radius: 0;
    padding: 2vw;
  }
  .next button {
    font-size: 3.5vw;
    padding: 2vw;

  }
  .answer{
    font-size: 5vw;
  }
  .answer span{
    font-size: 5vw;
  }
  .answer:hover, .answer.wrong, .answer.right {
    padding: 3vw;
  }
}



.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000942 ;
}



.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
